name: CI & Build
on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and lint
      run: |
        npm install yarn -g
        yarn
        yarn build --if-present
        yarn lint
      env:
        CI: true
    - run: zip -r dist.zip dist
      if: success()
    - uses: actions/upload-artifact@v1
      with:
        name: dist
        path: dist.zip
